.legend-box {
  border: 2px solid black;
  height: 15%;
  width: 13%;
  margin: 10px;
}

.color {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}
.green {
  background: green;
}

.flex-style > p {
  margin: 0;
}

.flex-style {
  display: flex;
  align-items: center;
}
