.over-grid {
  display: grid;
  grid-template-rows: max-content auto;
  height: 90%;
}

.over-grid app-array {
  grid-row-start: 1;
}

.over-grid app-legend {
  grid-row-start: 2;
}

.over-grid app-legend {
  align-self: flex-end;
}
