.array {
  display: flex;
  justify-content: center;
}

.over-flex {
  display: flex;
}

.block {
  background-color: blueviolet;
  width: 5px;
  height: 100px;
  margin-left: 1px;
  margin-right: 1px;
}

.flex {
  display: flex;
}
